'menu': [
  {
    'label': 'View'
    'submenu': [
      {
        'label': 'Quick Resize - One'
        'command': 'quick-resize:one'
      }
      {
        'label': 'Quick Resize - Two'
        'command': 'quick-resize:two'
      }
      {
        'label': 'Quick Resize - Save Current Size'
        'command': 'quick-resize:save-current-size'
      }
    ]
  }
]
