'.platform-darwin':
  'cmd-shift-1': 'quick-resize:one'
  'cmd-shift-2': 'quick-resize:two'

'.platform-win32, .platform-linux':
  'ctrl-shift-1': 'quick-resize:one'
  'ctrl-shift-2': 'quick-resize:two'
